<!-- <h1>This where you log in</h1>
<%= form_tag '/sessions/new', method: 'post' do %>

  <%= label_tag :name %>
  <%= text_field_tag :name %>
  <%= password_field_tag :password %>
  <%= submit_tag "Sign Up" %>



  <%= label_tag :name %>
  <%= text_field_tag :name %>
  <%= password_field_tag :password %>
  <%= submit_tag "Sign In" %>



<% end %> -->
